.ipynb_checkpoints/
.venv/
annotations_test.txt
labels/
test.py
save_for_readme.html
save_for_readme.odp
datasets/annotations/  
datasets/JPEGImages/  
datasets/labels/  
datasets/test/
datasets/train/
datasets/val/
*.tar
datasets/Annotations/
datasets/JPEGImages.tar
datasets/images/
datasets/labels_damages/
	

